.main{
  background-image: url('./back1.jpg');
  background-repeat: no-repeat;
  background-size: cover
}

div{
  font-family: 'Permanent Marker', cursive;
  text-transform: capitalize;
}

img{
  height:50px;
  width:50px;
}

.headline h1, .headline p {
  display: inline;
  vertical-align: top;
  font-size: 16px;
  line-height: 28px;    
}
.headline h1 {
  font-weight: bold;
}